.container {
    display: flex;
    background: var(--white);
    padding: 2rem;
    align-items: flex-start;
    gap: 2rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    font-size:20px;
}

.title {
    color: var(--green);
    font-size: 32px;
}

.container img {
    width: 50%;
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}