.footer {
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem
}

img {
    width: 4rem;
}

.footer strong {
    color: var(--white);
    font-size: 20px
}