.header {
    display: flex;
    align-items: flex-end;
    width: 100%;
    background-color: #fff;
    gap: 2rem;
    padding: 2rem;
    width: 100vw;
}

.header img {
    width: 8rem;
}

.textContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: var(--green)
}